---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Rokugenya</title>
		<style>
			body {
				margin: 0;
				font-family: system-ui, sans-serif;
			}

			main {
				display: grid;
				min-height: 100vh;
				place-items: center;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<main>
			<h1>Rokugenya &mdash; Coming Soon</h1>
		</main>
	</body>
</html>
